PORT=3000
NODE_ENV=development

DATABASE_TYPE=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=omni_feed
DATABASE_USER=omni_feed_user
DATABASE_PASSWORD=supersecretpassword

REDIS_HOST=redis
REDIS_PORT=6379
OLLAMA_BASE_URL=http://localhost:11434